################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Yafers.Web/Yafers.Web/bin/Debug/net8.0
/Yafers.Web/Yafers.Web/obj
/Yafers.Web/Yafers.Web.Client/bin/Debug/net8.0
/Yafers.Web/Yafers.Web.Client/obj
