@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello!</h1>

This is <span class="underline">Y</span>et <span class="underline">A</span>nother <span class="underline">Fe</span>is <span class="underline">R</span>egistration <span class="underline">S</span>ystem (Yafers).
It is under construction and will be simple, fast and convenient.
